# Configuration file for creating meteorological forcing

START_YEAR=2015
START_MONTH=12
END_YEAR=2016
END_MONTH=1
USER_NAME=your_username
PASSWORD=your_password
EXTRACT=yes     # Choose from "yes" and "no"
MODEL=PIHM      # Model can be "PIHM" or "Cycles". If set to "no", no forcing will be created
